<php>
  session_start();
  ob_start();
  phpinfo();
  function set_token() {
  $_SESSION['token'] = md5(microtime(true));
  }

  if(!isset($_SESSION['token']) || $_SESSION['token']=='') {
  set_token();
  }
</php>

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
  <title>
    2019年外发加工在家赚钱五星推荐
  </title>
  <style>
    html,body{
      margin: 0;
      padding: 0;
    }
    .only-text-text,.single-img-text{padding:.875rem .875rem .813rem}.single-img{background:#fff}.single-img-box
      img{width:100%}.single-img-text-title{font-weight:700;font-size:1.125rem;line-height:1.75rem}.gap{height:.5rem;background:#f1f1f1}.only-text{font-size:.875rem;color:#333;position:relative;background:#fff}.only-text-text-title{font-weight:700;font-size:1.125rem;line-height:1.75rem;padding-bottom:.563rem}.only-text-text-title:last-child{padding-bottom:0}.only-text-text-des{font-size:.875rem;line-height:1.25rem}.trans-form-blank{background-color:#fff}.trans-form-blank
      .bsml-form{padding-bottom:1rem}.trans-form-blank .bsml-form-title{text-align:left;padding:.875rem
      0 .875rem .875rem;font-size:1.125rem;word-wrap:break-word}.trans-form-blank
      .bsml-form-count{padding-left:1rem;font-size:.75rem;padding-bottom:1.063rem;color:#666;word-wrap:break-word}.trans-form-blank
      input.bsml-input-phonecode{width:60%;float:left}.trans-form-blank .bsml-form-list
      label span.bsml-input-phonecode-btn{width:34%;text-align:center;background:#fff;margin-left:5%;line-height:2.25rem;border:1px
      solid #f1f1f1;font-size:14px}.trans-form-blank .bsml-form-list label span.bsml-input-phonecode-n,.trans-form-blank
      .bsml-form-list label span.codeing{background:#f8f8f8}.trans-form-blank
      .bsml-input.bsml-input-phone-care{border:1px solid #c00;background:url(__IMAGE__/Home/bsml-form-care.png)
      95% 7px no-repeat;background-size:24px 24px}.trans-form-blank .bsml-form-list
      label{text-align:left;font-size:1rem;margin-bottom:.75rem;padding:0 1rem;display:-webkit-flex;display:flex}.trans-form-blank
      .bsml-form-list label span{white-space:nowrap;word-wrap:normal;overflow:hidden;line-height:2.375rem;text-overflow:ellipsis;display:inline-block;-webkit-box-flex:2;-webkit-flex:2;flex:2}.bsml-form-list
      li{list-style:none}.trans-form-blank .form-input{padding:0;height:2.375rem;line-height:2.375rem;color:#999;font-size:1rem;-webkit-box-flex:8;-webkit-flex:8;flex:8;display:block}.trans-form-blank
      .form-input>div{display:block;padding:0;margin:0}.trans-form-blank .bsml-date,.trans-form-blank
      .bsml-input,.trans-form-blank .bsml-multiselect,.trans-form-blank .bsml-singleselect{margin:0}.trans-form-blank
      .bsml-date,.trans-form-blank .bsml-input{width:100%;border:1px solid #f1f1f1;height:38px;line-height:38px;padding:0
      17px;-webkit-box-sizing:border-box;box-sizing:border-box;color:#999;font-size:14px}.trans-form-blank
      .bsml-multiselect,.trans-form-blank .bsml-singleselect{color:#999;font-size:1rem;background:#fff;outline:0;margin-left:0;height:2.375rem;line-height:2.375rem;-webkit-appearance:none;-webkit-tap-highlight-color:transparent}.trans-form-blank
      .bsml-singleselect{width:100%;padding:0 1.063rem;border:1px solid #f1f1f1;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.trans-form-blank
      .bsml-multiselect{padding:0;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.trans-form-blank
      .bsml-multiselect .bsml-multiselect{border:0}.trans-form-blank .bsml-date{margin-left:0}.trans-form-blank
      input[type=date]{width:100%!important;background:0 0!important;-webkit-tap-highlight-color:transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;padding:0
      0 0 1.063rem}.trans-form-blank input[type=text]{-webkit-tap-highlight-color:transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;text-shadow:none;-webkit-appearance:none;-webkit-user-select:text;box-shadow:none;outline:transparent
      0}.trans-form-blank .bsml-form-list-box{display:block;padding:.25rem 1rem
      0}.trans-form-blank .bsml-form-list-submit{padding:0;display:block;height:2.375rem;line-height:2.375rem;text-align:center;font-size:.875rem;background-color:#ff6d39;color:#fff}.trans-form-blank
      .bsml-form-tips{display:none;position:absolute;width:120px;height:3.75rem;line-height:3.75rem;text-align:center;font-size:.75rem;color:#fff;bottom:30%;left:50%;margin-left:-80px;z-index:999;border-radius:5px;background:rgba(0,0,0,.3);white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}.trans-form-blank
      .bsml-singleselect-container{position:relative}.trans-form-blank .bsml-singleselect-container:before{content:'';position:absolute;top:50%;height:8px;width:8px;right:12px;margin-top:-8px;border-top:1px
      solid #999;border-right:1px solid #999;-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg)}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-singleselect-container:before,.trans-form-blank
      .bsml-multiselect:before{-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);content:'';top:50%;margin-top:-8px}.trans-form-blank
      .bsml-multiselect{position:relative}.trans-form-blank .bsml-multiselect:before{position:absolute;height:8px;width:8px;right:12px;border-top:1px
      solid #999;border-right:1px solid #999;transform:rotate(135deg)}.bsml-input-select{-webkit-appearance:none;background:url(__IMAGE__/Home/downicon.png)
      95% 55% no-repeat #fff;background-size:.813rem .438rem;border-radius:0}*{-webkit-tap-highlight-color:transparent}.body-wrapper{background-color:#f1f1f1!important;color:#333}a{color:#333;text-decoration:none}.top-bottom-1px{border-top:1px
      solid transparent;border-right:1px solid transparent;border-bottom:1px
      solid transparent;border-left:1px solid transparent}@media only screen
      and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2){.top-bottom-1px{border:none;background-image:-webkit-linear-gradient(90deg,transparent,transparent
      50%,transparent 50%),-webkit-linear-gradient(180deg,transparent,transparent
      50%,transparent 50%),-webkit-linear-gradient(90deg,transparent,transparent
      50%,transparent 50%),-webkit-linear-gradient(0,transparent,transparent
      50%,transparent 50%);background-image:linear-gradient(180deg,transparent,transparent
      50%,transparent 50%),linear-gradient(270deg,transparent,transparent 50%,transparent
      50%),linear-gradient(0deg,transparent,transparent 50%,transparent 50%),linear-gradient(90deg,transparent,transparent
      50%,transparent 50%);background-size:100% 1px,1px 100%,100% 1px,1px 100%;background-repeat:no-repeat;background-position:top,right
      top,bottom,left top}}.top-1px{border-top:1px solid transparent}@media only
      screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2){.top-1px{border:none;background-image:-webkit-linear-gradient(90deg,transparent,transparent
      50%,transparent 50%);background-image:linear-gradient(180deg,transparent,transparent
      50%,transparent 50%);background-size:100% 1px;background-repeat:no-repeat;background-position:top}}.right-1px{border-right:1px
      solid transparent}@media only screen and (-webkit-min-device-pixel-ratio:2),only
      screen and (min-device-pixel-ratio:2){.right-1px{border:none;background-image:-webkit-linear-gradient(180deg,transparent,transparent
      50%,transparent 50%);background-image:linear-gradient(270deg,transparent,transparent
      50%,transparent 50%);background-size:1px 100%;background-repeat:no-repeat;background-position:right}}.bottom-1px{border-bottom:1px
      solid transparent}@media only screen and (-webkit-min-device-pixel-ratio:2),only
      screen and (min-device-pixel-ratio:2){.bottom-1px{border:none;background-image:-webkit-linear-gradient(90deg,transparent,transparent
      50%,transparent 50%);background-image:linear-gradient(0deg,transparent,transparent
      50%,transparent 50%);background-size:100% 1px;background-repeat:no-repeat;background-position:bottom}}.left-1px{border-left:1px
      solid transparent}@media only screen and (-webkit-min-device-pixel-ratio:2),only
      screen and (min-device-pixel-ratio:2){.left-1px{border:none;background-image:-webkit-linear-gradient(0deg,transparent,transparent
      50%,transparent 50%);background-image:linear-gradient(90deg,transparent,transparent
      50%,transparent 50%);background-size:1px 100%;background-repeat:no-repeat;background-position:left}}.nuomi-tag{display:inline-block;padding:0
      5px;box-sizing:border-box;line-height:21.3px;color:#fa4982;border-radius:2px;border:1px
      solid #fa4982;font-size:12px;transform:scale(.75);transform-origin:50%
      50%;transform-origin:100% 0}.icon-triangle-down,.icon-triangle-up{width:0;height:0;border-left:1px
      dashed transparent;border-right:1px dashed transparent;overflow:hidden}.icon-arrow-down,.icon-triangle-up{border-bottom:1px
      solid transparent}.icon-arrow-left,.icon-arrow-right,.icon-arrow-up,.icon-triangle-down{border-top:1px
      solid transparent}.box-sizing{-webkit-box-sizing:content-box;box-sizing:content-box}.flexbox{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}.flex{-webkit-box-flex:1;-webkit-flex:1;flex:1}.align-items{-webkit-align-items:center;align-items:center;-webkit-box-align:center;box-align:center}.justify-content{justify-content:center}.icon-arrow-down,.icon-arrow-left,.icon-arrow-up{width:8px;height:8px;border-left:1px
      solid transparent}.icon-arrow-right{width:8px;height:8px;border-right:1px
      solid transparent;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.icon-arrow-down,.icon-arrow-left{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.icon-arrow-up{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.body-wrapper{padding-bottom:3.125rem}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar{width:100%}.trans-fixed-bar-blank .mip-bsml-fixed-bar-box{background:rgba(255,255,255,.9);padding:.438rem
      0;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;border-top:1px
      solid #f1f1f1; position: fixed; width: 100%; bottom: 0;}.trans-fixed-bar-blank .mip-bsml-fixed-bar-box-appointment,.trans-fixed-bar-blank
      .mip-bsml-fixed-bar-box-consult,.trans-fixed-bar-blank .mip-bsml-fixed-bar-box-phone{display:block;overflow:hidden;-webkit-box-flex:1;-webkit-flex:1;flex:1;height:2.063rem;line-height:2.063rem;text-align:center;font-size:.875rem;margin-left:.625rem}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar-box-phone a{overflow:hidden;color:#fff;display:inline-block;width:100%;height:2.063rem;background-color:#fec73f}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar-box-consult{border:1px solid #e4e4e4;height:1.938rem}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar-box-consult:last-child,.trans-fixed-bar-blank .mip-bsml-fixed-bar-box-phone:last-child{margin-right:.625rem}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar-box-consult a{display:inline-block;background-color:#fff;width:100%;height:1.938rem;color:#666}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar-box-appointment{background-color:#ff6d39;color:#fff}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar-box-appointment:last-child{margin-right:.625rem}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-form-lay{display:none;position:fixed;top:0;left:0;z-index:99;width:100%;height:100%;background:rgba(0,0,0,.3)}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-form{position:fixed;bottom:-50rem;left:0;z-index:999999;width:100%;background-color:#fff;padding-bottom:1.25rem;max-height:80%;overflow-y:auto}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-form-title{text-align:center;padding:1rem 0;font-size:1.125rem}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-form-count{padding-left:1rem;font-size:.75rem;padding-bottom:1.063rem;color:#666}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-form-close{position:absolute;background:url(__IMAGE__/Home/icon2.png)
      no-repeat;width:1rem;height:1rem;background-size:100%;right:1rem;top:.625rem}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-form-list label{text-align:left;font-size:1rem;margin-bottom:.75rem;padding:0
      1rem;display:-webkit-flex;display:flex}.trans-fixed-bar-blank .mip-bsml-fixed-bar
      .bsml-form-list label input.bsml-input-phonecode{width:60%;float:left}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-form-list label span.bsml-input-phonecode-btn{width:34%;text-align:center;background:#fff;margin-left:5%;line-height:2.25rem;border:1px
      solid #f1f1f1;font-size:14px}.mip-bsml-fixed-bar .bsml-form-list label
      span.bsml-input-phonecode-n,.trans-fixed-bar-blank .mip-bsml-fixed-bar
      .bsml-form-list label span.codeing{background:#f8f8f8}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-input.bsml-input-phone-care{border:1px solid
      #c00;background:url(__IMAGE__/Home/bsml-form-care.png) 95% 7px no-repeat;background-size:24px
      24px}.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-multiselect,.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-singleselect{height:2.375rem;line-height:2.375rem;font-size:1rem;background:#fff;outline:0;color:#999;margin-left:0;-webkit-tap-highlight-color:transparent;-webkit-appearance:none}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-form-list label span{white-space:nowrap;word-wrap:normal;overflow:hidden;line-height:2.375rem;text-overflow:ellipsis;display:inline-block;-webkit-box-flex:2;-webkit-flex:2;flex:2}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .form-input{padding:0;height:2.375rem;line-height:2.375rem;color:#999;font-size:1rem;-webkit-box-flex:8;-webkit-flex:8;flex:8;display:block}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .form-input>div{display:block;padding:0;margin:0}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-date,.trans-fixed-bar-blank .mip-bsml-fixed-bar
      .bsml-input,.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-multiselect,.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-singleselect{margin:0}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-singleselect{width:100%;padding:0 1.063rem;border:1px
      solid #f1f1f1;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-multiselect{padding:0;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-multiselect .bsml-multiselect{border:0}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-date,.trans-fixed-bar-blank .mip-bsml-fixed-bar
      .bsml-input{width:100%;border:1px solid #f1f1f1;height:38px;line-height:38px;padding:0
      17px;-webkit-box-sizing:border-box;box-sizing:border-box;color:#999;font-size:14px}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-date{margin-left:0}.trans-fixed-bar-blank .mip-bsml-fixed-bar
      input[type=date]{width:100%!important;background:0 0!important;-webkit-tap-highlight-color:transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;padding:0
      0 0 1.063rem}.trans-fixed-bar-blank .mip-bsml-fixed-bar input[type=text]{-webkit-tap-highlight-color:transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;text-shadow:none;-webkit-appearance:none;-webkit-user-select:text;box-shadow:none;outline:transparent
      0}.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-list-box{display:block;padding:.625rem
      1rem 0}.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-list-submit{padding:0;display:block;height:2.375rem;line-height:2.375rem;text-align:center;font-size:.875rem;background-color:#ff6d39;color:#fff}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-form-tips{display:none;position:absolute;width:120px;height:3.75rem;line-height:3.75rem;text-align:center;font-size:.75rem;color:#fff;bottom:30%;left:50%;margin-left:-80px;z-index:999;border-radius:5px;background:rgba(0,0,0,.3);white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}#bsmlStyle_comp_62,#bsmlStyle_comp_64{text-align:center;display:block;padding:0;color:inherit}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-singleselect-container{position:relative}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-singleselect-container:before{position:absolute;height:8px;width:8px;right:12px;border-top:1px
      solid #999;border-right:1px solid #999;transform:rotate(135deg)}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-multiselect{position:relative}.trans-fixed-bar-blank
      .mip-bsml-fixed-bar .bsml-multiselect:before{content:'';position:absolute;top:50%;height:8px;width:8px;right:12px;margin-top:-8px;border-top:1px
      solid #999;border-right:1px solid #999;-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg)}.trans-fixed-bar-blank
      .bsml-input-select{-webkit-appearance:none;background:url(__IMAGE__/Home/downicon.png)
      95% 55% no-repeat #fff;background-size:.813rem .438rem;border-radius:0}#bsmlStyle_comp_111{height:8px;background-color:#f1f1f1}#bsmlStyle_comp_61{background:rgba(126,184,251,1)}#bsmlStyle_comp_62{font-size:14px}#bsmlStyle_comp_63{font-size:22px}#bsmlStyle_comp_64{font-size:14px}#bsmlStyle_comp_65{font-size:18px}#bsmlStyle_comp_34,#bsmlStyle_comp_411,#bsmlStyle_comp_44,#bsmlStyle_comp_48,#bsmlStyle_comp_54{text-align:center;display:block;font-size:14px;padding:0;color:inherit}#bsmlStyle_comp_31,#bsmlStyle_comp_41,#bsmlStyle_comp_51{background-color:#fff}#bsmlStyle_comp_53{background-color:#ff6d39}#bsmlStyle_comp_35,#bsmlStyle_comp_412,#bsmlStyle_comp_45,#bsmlStyle_comp_49,#bsmlStyle_comp_55{letter-spacing:1.42px;line-height:normal}#bsmlStyle_comp_33{background-color:rgba(7,79,163,1)}#bsmlStyle_comp_43{background-color:rgba(5,60,125,1)}#bsmlStyle_comp_47{background-color:rgba(80,227,194,1)}#bsmlStyle_comp_410{background-color:rgba(74,144,226,1)}
      .btn_tj { display: block; height: 39px; text-align: center; color: rgb(255,
      248, 239); cursor: pointer; width: 100%; background: url(__IMAGE__/Home/tj.png)
      repeat-x; border-width: 1px; border-style: solid; border-color: rgb(225,
      37, 21); border-image: initial; font: 18px/39px 微软雅黑; margin: 20px 10px
      10px; }
    </style>
</head>

<body>
  <div class="body-wrapper">
    <section name="img-single" type="img-single">
      <section class="single-img" id="bsmlStyle_comp_11">
        <div class="single-img-box">
          <img src="__IMAGE__/Home/aa.jpg" />
        </div>
      </section>
    </section>
    <section name="layout-gap" type="layout-gap">
      <section class="gap" id="bsmlStyle_comp_111">
      </section>
    </section>
    <section name="img-single" type="img-single">
      <section class="single-img" id="bsmlStyle_comp_21">
        <div class="single-img-box" style="font-weight:bold; text-align:center;font-size:14px;line-height:24px;">
          全国统一客服：
          <a style="color:#ff0000;" href="tel:${phone}">
            (点击拨打电话:${phone})
          </a>
        </div>
        <div class="single-img-box">
          <img src="__IMAGE__/Home/bb.jpg" />
        </div>
        <div class="single-img-box">
          <img src="__IMAGE__/Home/cc.jpg" />
        </div>
      </section>
    </section>
    <section name="text-content" type="text-content" id="b8eba8c2320eda5b3add55d64dd87c91">
      <section class="only-text" id="bsmlStyle_comp_61">
        <div class="only-text-text">
          <h2 class="only-text-text-title">
            <div id="bsmlStyle_comp_62">
              <font id="bsmlStyle_comp_63" color="#bf2f00">
                手工加工袖套鞋套
              </font>
            </div>
          </h2>
          <div class="only-text-text-des">
            <div id="bsmlStyle_comp_64">
              <b>
                <font id="bsmlStyle_comp_65">
                  厂家提供原材料，上门回购！
                </font>
              </b>
              <br>
            </div>
          </div>
        </div>
      </section>
    </section>
    <div class="single-img-box" style="font-weight:bold; text-align:center;font-size:14px;line-height:24px;">
      全国统一客服：
      <a style="color:#ff0000;" href="tel:${phone}">
        (点击拨打电话:${phone})
      </a>
    </div>
    <section name="trans-form-blank" type="trans-form-blank">
      <div class="trans-form-blank" id="bsmlStyle_comp_31">
        <div class="bsml-form" id="box">
          <h2 class="bsml-form-title" id="bsmlStyle_comp_32">
            手工加工，在家轻松做老板！
          </h2>
          <div class="bsml-form-count">
            已经提交了19079人
          </div>
          <script language="javascript">
            function checkform(theform) {
                if (document.msg.bdname.value == "") {
                  alert("请填写您的姓名!");
                  msg.bdname.focus();
                  return false;
                }
                if (document.msg.bdmob.value == "") {
                  alert("请填写您的手机号码!");
                  msg.bdmob.focus();
                  return false;
                }
                if (document.msg.bdmob.value.length != 11) {
                  alert("请正确填写您的手机号码!");
                  msg.bdmob.focus();
                  return false;
                }

              }
            </script>
          <form action="/add" enctype="multipart/form-data" method="post" id="msg" onsubmit="return checkform(this)"
            name="msg">
            <input type="hidden" name="action" value="post" />
            <input type="hidden" name="diyid" value="1" />
            <input type="hidden" name="do" value="2" />
            <ul class="bsml-form-list">
              <li>
                <label>
                  <span>
                    姓名
                  </span>
                  <div class="form-input">
                    <input name="name" id="bdname" class="bsml-input" type="text" placeholder="" />
                  </div>
                </label>
              </li>
              <li>
                <label>
                  <span>
                    电话
                  </span>
                  <div class="form-input">
                    <input name="mobile" id="bdmob" class="bsml-input bsml-input-phone" type="text" placeholder="" />
                  </div>
                </label>
              </li>
            </ul>
            <input type='hidden' name='shijian' id='shijian' placeholder="">
            <script type="text/javascript">
              window.onload = function () {
                var nowDate = new Date();
                var str = nowDate.getFullYear() + "-" + (nowDate.getMonth() + 1) + "-" + nowDate.getDate() +
                  " " + nowDate.getHours() + ":" + nowDate.getMinutes() + ":" + nowDate.getSeconds();
                document.getElementById("shijian").value = str;
              }
            </script>


            <input name="bdsubmit" type="submit" value="点击提交留言" class="btn_tj" />
            <input type="hidden" name="token" value="<php> echo $_SESSION['token']; </php>" />
            <input type="hidden" name="keyword" value="<php> echo $_COOKIE['keyword']; </php>" />
            <input type="hidden" name="plan" value="<php> echo $_COOKIE['plan']; </php>" />
            <input type="hidden" name="unit" value="<php> echo $_COOKIE['unit']; </php>" />

            <div class="bsml-form-list-box">
              <input name="bdsubmit" type="submit" value="点击提交留言" class="btn_tj">
            </div>
            <div class="bsml-form-tips">
            </div>
          </form>
          <p style="text-align: center;margin-top:20px">
            <span style="font-size: 8px;color: #ccc;">
              大连森桥人力资源开发有限公司 版权所有
            </span>
          </p>
        </div>
      </div>
  </div>
  </section>
  <section name="trans-fixed-bar-blank" type="trans-fixed-bar-blank">
    <div class="trans-fixed-bar-blank">
      <div class="mip-bsml-fixed-bar-box" id="bsmlStyle_comp_46">
        <span class="mip-bsml-fixed-bar-box-phone">
          <a href="tel:${phone}" target="_blank">
            <div id="bsmlStyle_comp_48">
              <span id="bsmlStyle_comp_49">
                <font color="#4e4e4e">
                  拨打电话
                </font>
              </span>
            </div>
          </a>
        </span>
        <span class="mip-bsml-fixed-bar-box-appointment" id="bsmlStyle_comp_410">
          <a href="#box">
            <div id="bsmlStyle_comp_411">
              <span id="bsmlStyle_comp_412">
                在线留言
              </span>
            </div>
          </a>
        </span>
      </div>
    </div>
  </section>
  </div>
</body>
{$code}

</html>